[submodule "st"]
	path = st
	url = git@github.com:ragan/st.git
[submodule "dwm"]
	path = dwm
	url = git@github.com:ragan/dwm.git
[submodule "dwmblocks"]
	path = dwmblocks
	url = git@github.com:ragan/dwmblocks.git
