Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

URxvt.font:     xft:DejaVuSansMono\ Nerd\ Font\ \Mono:size=14:antialias=true
URxvt.boldFont: xft:DejaVuSansMono\ Nerd\ Font\ \Mono:bold:size=14:antialias=true

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.loginShell:           true
URxvt.internalBorder:       3
URxvt.lineSpace:            0

Rxvt*shading: 15

URxvt*saveLines: 12000

URxvt*foreground: #657b83
URxvt*background: #002b36

URxvt.cursorColor: #FF79C6

URxvt*scrollBar: true
URxvt*scrollBar_right: false
URxvt*scrollstyle: plain

!! Zoom in and out
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,matcher,clipboard,url-select,keyboard-select,font-size
URxvt.clipboard.autocopy: true           
URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xsel
URxvt.keysym.Shift-Control-P: eval:paste_clipboard
URxvt.keysym.Shift-Control-Y: eval:selection_to_clipboard
! URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
! URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.underlineURLs: true
URxvt.colorUL: #4682B4
URxvt.urlButton: 1
URxvt.keyboard-select.clipboard: true
