[Install]
WantedBy=default.target

[Unit]
Description=Run Ansible playbook
After=network.target

[Service]
User=kpeek
WorkingDirectory=$HOME/.ansible
ExecStart=/usr/bin/ansible-playbook -i hosts deploy.yml

