[Install]
WantedBy=default.target

[Unit]
Description=Run Ansible playbook
After=network.target

[Service]
User=kpeek
WorkingDirectory=/home/kpeek/.ansible
ExecStart=/usr/bin/ansible-playbook -i hosts.ini deploy-open-webui.yml

